@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
}

.tasks {
  padding: 20px;
  width: 100%;

  &__category {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
  }
}

