@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;

  @media (max-width: 700px) {
    font-size: 16px;
  }
}

button {
  background: #ffffff;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;

  @media (max-width: 700px) {
    padding: 20px;
  }

  @media (max-width: 550px) {
    display: block;
  }
}

.tasks {
  padding: 20px;
  width: 100%;

  @media (max-width: 550px) {
    padding: 0;
  }

  &__category {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;

    @media (max-width:700px) {
      margin-bottom: 15px;
    }

    &-name {
      font-size: 30px;
      font-weight: 700;

      @media (max-width:700px) {
        font-size: 24px;
      }
    }

    &-show {
      display: none;
      font-size: 20px;
      padding: 5px 10px;
      border-radius: 20px;
      border: 1px solid #000;
      color: #000000;

      @media (max-width:550px) {
        display: block;
      }
    }
  }
}

