.categories {
  flex: 0 0 30%;
  border-right: 2px solid #D8D8D8;
  padding: 20px 0;

  @media (max-width: 700px) {
    flex: 0 0 25%;
  }

  @media (max-width: 550px) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    padding: 20px;
    z-index: 3;
    display: block;
    width: 50%;
    background: #ffffff;
    border: 2px solid #D8D8D8;
    transition: 0.3s ease-out;
  }

  &-cnt {
    position: relative;
    padding-top: 25px;
  }

  &-shown {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    &-img {
      width: 25px;
      height: auto;
    }
  }

  &__list {
  }

  &__item {
    margin-bottom: 25px;
  }

  &__button {
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    gap: 10px;

    &-text {
      font-weight: inherit;
    }

    &-color {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  &__button-selected {
    font-weight: 700;
  }

  &__add {
    display: flex;
    align-items: center;
    gap: 10px;

    &-color {
      width: 30px;
      height: 30px;
    }

    &-input {
      border: 1px solid #ababab;
      padding: 5px;
      border-radius: 20px;
    }

    &-button {
      letter-spacing: 0.7px;
      color: #ababab;
    }
  }

  &__add-input {
  }

  &__add-button {
  }
}